extends ../layout

block content
    .container
        .row
            .col-md-7
                embed(src="#{movie.flash}", allfullscreen="true", quality="high", width="720", height="600", align="middle", type="application/x-shockwave-flash")
            .col-md-5
                dl.dl-horizontal
                    dt 電影名字
                    dd= movie.title
                    dt 導演
                    dd= movie.doctor
                    dt 國家
                    dd= movie.country
                    dt 語言
                    dd= movie.language
                    dt 上映年份
                    dd= movie.year
                    dt 簡介
                    dd= movie.summary
        .row
            ul.media-list
                each item in comments
                    li.media
                        .pull-left
                            img.media-object
                        .media-body
                            h4.media-heading #{item.from}
                            p #{item.content}
                            //- .media
                                .pull-left
                                    img.media-object
            form(action="/user/comment", method="POST")
                input(type="hidden", name="comment[movie]", value="#{movie._id}")
                .form-group
                    textarea.form-control(name="comment[content]", cols="30", rows="10")
                button.btn.btn-primary(type="submit") Submit