extends ../layout

block content
    .container
        .row
            .col-md-7
                embed(src="#{movie.flash}", allfullscreen="true", quality="high", width="720", height="600", align="middle", type="application/x-shockwave-flash")
            .col-md-5
                dl.dl-horizontal
                    dt 電影名字
                    dd= movie.title
                    dt 導演
                    dd= movie.doctor
                    dt 國家
                    dd= movie.country
                    dt 語言
                    dd= movie.language
                    dt 上映年份
                    dd= movie.year
                    dt 簡介
                    dd= movie.summary
        .row
            ul.media-list
                each item in comments
                    li.media
                        .pull-left
                            a.comment(href="#comments", data-cid="#{item._id}", data-tid="#{item.from._id}")
                                img.media-object
                        .media-body
                            h4.media-heading #{item.from.name}
                            p #{item.content}
                            if item.reply && item.reply.length>0
                                each reply in item.reply
                                    .media
                                        .pull-left
                                            img.media-object
                                        .media-body
                                            h4.media-heading ${reply.from.name}
                                            p #{reply.content} 
            #comments
                form#commentForm(action="/user/comment", method="POST", style="padding:0 0 60px")
                    input(type="hidden", name="comment[movie]", value="#{movie._id}")
                    .form-group
                        textarea.form-control(name="comment[content]", cols="30", rows="10")
                    button.btn.btn-primary(type="submit") Submit                    
                    
                    
    script(src="/js/detail.js")